@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"] {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  --tw-text-opacity: 1;
  /* color: rgb(100 116 139 / var(--tw-text-opacity)); */
}
[data-theme="dark"] {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

[data-theme="light"] .isTaskFinished {
  --tw-text-opacity: 1;
  color: rgb(203 213 225 / var(--tw-text-opacity));
}
[data-theme="dark"] .isTaskFinished {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}
